<div class="text-center" data-controller="hello">
  <p class="text-base font-semibold text-indigo-600"><i class="fa-solid fa-rss"></i></p>
  <h1 class="mt-4 text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">SearQ</h1>
  <p class="mt-4 text-sm md:text-lg leading-7 text-gray-600">Free, Fast and Cool, RESTful <span class="bg-yellow-500 text-white p-1 rounded">RSS based</span> Search Engine.</p>
  <div class=" text-left mt-5 relative z-10 col-span-3 bg-slate-800 rounded-lg shadow-lg xl:ml-0 dark:shadow-none dark:ring-1 dark:ring-inset dark:ring-white/10">
    <div class="relative flex text-slate-400 text-xs leading-6">
      <div class="mt-2 flex-none text-sky-300 border-t border-b border-t-transparent border-b-sky-300 px-4 py-1 flex items-center"><%= @url %></div>
      <div class="flex-auto flex pt-2 rounded-tr-xl overflow-hidden">
        <div class="flex-auto -mr-px bg-slate-700/50 border border-slate-500/30 rounded-tl"></div>
      </div>
      <div class="absolute top-2 right-0 h-8 flex items-center pr-4">
        <div class="relative flex -mr-2"><button  data-clipboard-text="<%= @code %>" type="button" class="btn text-slate-500 hover:text-slate-400"><i class="fa-sharp fa-solid fa-copy fa-lg"></i></button></div>
      </div>
    </div>
    <div class="relative">
      <pre class="text leading-6 text-slate-50 flex ligatures-none overflow-auto"><code class="flex-none min-w-full p-6 md:p-8"><span class="flex"><svg viewBox="0 -9 3 24" aria-hidden="true" class="flex-none overflow-visible text-pink-400 w-auto h-6 mr-3"><path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg><span class="flex-auto"><span class="font-semibold">GET</span> /search.json -d 'q={q}'</span></span></code></pre>
    </div>
  </div>
  <div class="mt-8 flex items-center justify-center">
    <span class="isolate inline-flex rounded-md shadow-sm w-8/12">
      <a id="docs-btn" href="https://github.com/searq/searq.org/wiki" class="relative items-center rounded-l-md bg-gray-50 py-2 text-xs md:text-sm font-semibold text-indigo-600 ring-1 ring-inset ring-gray-300 hover:bg-indigo-50 hover:underline focus:z-10 w-3/12">
        Docs
      </a>
      <%= link_to exports_path, id: 'export-tool-btn', class: "relative -ml-px  items-center bg-gray-50 py-2 text-xs md:text-sm font-semibold text-indigo-600 ring-1 ring-inset ring-gray-300 hover:bg-yellow-50 hover:underline focus:z-10 w-3/12" do %>
        Export
      <% end %>
      <%= link_to flows_path, id: 'flows-tool-btn', class: "relative -ml-px  items-center bg-gray-50 py-2 text-xs md:text-sm font-semibold text-indigo-600 ring-1 ring-inset ring-gray-300 hover:bg-green-50 hover:underline focus:z-10 w-3/12" do %>
        Flows
      <% end %>
      <%= link_to stats_path, id: 'stats-btn', class: "relative -ml-px  items-center rounded-r-md bg-gray-50 py-2 text-xs md:text-sm font-semibold text-indigo-600 ring-1 ring-inset ring-gray-300 hover:bg-red-50 hover:underline focus:z-10 w-3/12" do %>
        Stats
      <% end %>
    </span>
  </div>
</div>
