<!DOCTYPE html>
<html class="h-full">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F74YF5W1BQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'G-F74YF5W1BQ');
    </script>
    <title>SearQ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Davide Santangelo">
    <meta name="description" content="searq - RSS search engine - a search engine that allows you to find RSS feeds easily">
    <meta name="keywords" content="rails api web RSS">
    <meta property="og:url" content="https://searq.org">
    <meta property="og:image" content="https://searq.org/logo.png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta property="og:image:alt" content="datorss">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="searq.org - the best RSS search experience you can find">
    <meta property="og:title" content="searq.org - the best RSS search experience you can find">
    <meta property="og:description" content="searq.org - RSS search engine - a search engine that allows you to find RSS feeds easily">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag "favicon.png", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="font-sans text-white leading-normal tracking-normal h-full bg-gray-50">
    <main class="grid min-h-full place-items-center  px-4">
      <%= yield %>
    </main>
    <footer class="absolute bottom-0 right-0 left-0 text-center">
      <div class="mx-auto max-w-7xl py-6 px-6 lg:px-8">
        <div class="mt-8 md:order-1 md:mt-0">
          <p class="text-center text-sm leading-5 text-gray-800">Made by <a href="https://twitter.com/daviducolo" class="text-indigo-700 hover:underline">Davide Santangelo</a></p>
        </div>
      </div>
    </footer>
  </body>
</html>
