<!DOCTYPE html>
<html>
  <head>
    <title>SearQ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Davide Santangelo">
    <meta name="description" content="searq - RSS search engine - a search engine that allows you to find RSS feeds easily">
    <meta name="keywords" content="rails api web RSS">
    <meta property="og:url" content="https://searq.org">
    <meta property="og:image" content="https://searq.org/logo.png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta property="og:image:alt" content="datorss">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="searq.org - the best RSS search experience you can find">
    <meta property="og:title" content="searq.org - the best RSS search experience you can find">
    <meta property="og:description" content="searq.org - RSS search engine - a search engine that allows you to find RSS feeds easily">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag "favicon.png", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="font-sans text-white leading-normal tracking-normal bg-zinc-900">
    <main class="mx-auto">
      <%= yield %>
    </main>
  </body>
  <script src="//cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/dist/instant-meilisearch.umd.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/instantsearch.js@4"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script>
    const search = instantsearch({
      indexName: "Item",
      searchClient: instantMeiliSearch(
        "http://localhost:7700",
        "36knp7eV10xkiMwdefKh6_MEYWJ4OG8RAkfxehKjO0Q"
      )
      });
      search.addWidgets([
        instantsearch.widgets.searchBox({
          container: "#searchbox",
          placeholder: "search over RSS feeds",
          autofocus: true,
          showLoadingIndicator: true,
          showReset: false,
          showSubmit: false
        }),
        instantsearch.widgets.configure({ hitsPerPage: 15 }),
        instantsearch.widgets.hits({
          container: "#hits",
          templates: {
          item: `
            <div class="shadow mb-6">
              <div class="hit-url mb-1">
                <a href="{{url}}" class="text-base text-gray-500">{{url}}</a>
              </div>
              <div class="hit-name">
                <a class="bg-indigo-600 text-white py-0.5 px-2 rounded font-semibold hover:underline" href="{{feed_url}}">{{feed_title}}</a> <a href="{{url}}" class="underline hover:text-sky-400"> {{#helpers.highlight}}{ "attribute": "title" }{{/helpers.highlight}}</a>
              </div>
              <div class="hit-description text-base text-gray-300 max-w-4xl">
                <span class="text-gray-500 text-sm mr-1">{{published_at}}</span> {{#helpers.highlight}}{ "attribute": "text" }{{/helpers.highlight}}
              </div>
              <div class="hit-categories text-base text-sky-700">
                {{categories}}
              </div>
            </div>
          `
          },
          transformItems: items => {
            return items.map(item => {
              return {
                ...item,
                published_at: moment(item.published_at).fromNow(),
                categories: item.categories.join(" ")
              };
            });
          }
        })
      ]);
    
    
      search.addWidget(
        instantsearch.widgets.stats({
          container: '#stats',
        })
      );
    
      search.addWidget(
        instantsearch.widgets.pagination({
          container: '#pagination',
          templates: {
            first: '<<',
            last: '>>',
            previous: '<',
            next: '>',
          },
        })
      );
    
      search.start();
  </script>
</html>
