<!DOCTYPE html>
<html class="h-full">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F74YF5W1BQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'G-F74YF5W1BQ');
    </script>
    <title>SearQ - ERROR!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Davide Santangelo">
    <meta name="description" content="SearQ - Free and Fast, Cool, RESTful RSS Search Engine.">
    <meta name="keywords" content="rails api web RSS">
    <meta property="og:url" content="https://searq.org">
    <meta property="og:image" content="https://searq.org/logo.png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta property="og:image:alt" content="searq">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="SearQ - Free and Fast, Cool, RESTful RSS Search Engine.">
    <meta property="og:title" content="SearQ - Free and Fast, Cool, RESTful RSS Search Engine.">
    <meta property="og:description" content="SearQ, the RSS search engine that is both speedy and free! SearQ offers a RESTful API that simplifies the search for data from RSS feeds. Finding what you need has never been easier with SearQ.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag "favicon.png", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-full bg-gray-50">
     <%= yield %>
  </body>
</html>
